# Data Cleaning


# Update column names for Player Table

In [6]:
%sql Select * from player;

 * postgresql://postgres:***@localhost:5432/soccer_analysis
110 rows affected.

[(1, 'Moisés Caicedo', datetime.date(2001, 11, 2), 'Ecuadorian', 11, 'Midfielder', 25, 1, 2023, 2019, Decimal('75000000.00')),
 (2, 'Enzo Fernández', datetime.date(2001, 1, 17), 'Argentine', 2, 'Midfielder', 8, 1, 2023, 2020, Decimal('75000000.00')),
 (3, 'Pedro Neto', datetime.date(2000, 3, 9), 'Portuguese', 24, 'Forward', 7, 1, 2024, 2017, Decimal('55000000.00')),
 (4, 'Reece James ', datetime.date(1999, 12, 8), 'English', 13, 'Defender', 24, 1, 2019, 2018, Decimal('40000000.00')),
 (5, 'Nicolas Jackson ', datetime.date(2001, 6, 20), 'Senegalese', 26, 'Forward', 15, 1, 2023, 2022, Decimal('35000000.00')),
 (6, 'Christopher Nkunku', datetime.date(1997, 11, 14), 'French', 14, 'Forward', 18, 1, 2023, 2015, Decimal('65000000.00')),
 (7, 'Levi Colwill', datetime.date(2003, 2, 26), 'English', 13, 'Defender', 6, 1, 2022, 2022, Decimal('50000000.00')),
 (9, 'Bukayo Saka', datetime.date(2001, 9, 5), 'English', 13, 'Forward', 7, 2, 2019, 2018, Decimal('140000000.00')),
 (10, 'Declan Rice', datetime.date(1999, 1, 14), 'English', 13, 'Midfielder', 41, 2, 2023, 2017, Decimal('120000000.00')),
 (11, 'Martin Ødegaard', datetime.date(1998, 12, 17), 'Norwegian', 22, 'Midfielder', 8, 2, 2021, 2014, Decimal('110000000.00')),
 (12, 'Kai Havertz', datetime.date(1999, 6, 11), 'German', 16, 'Forward', 29, 2, 2023, 2016, Decimal('70000000.00')),
 (13, 'Heung-min Son', datetime.date(1992, 7, 8), 'South Korean', 28, 'Forward', 7, 3, 2015, 2010, Decimal('45000000.00')),
 (14, 'Dominic Solanke', datetime.date(1997, 9, 14), 'English', 13, 'Forward', 19, 3, 2024, 2014, Decimal('40000000.00')),
 (15, 'Cristian Romero', datetime.date(1998, 4, 27), 'Argentine', 2, 'Defender', 17, 3, 2022, 2016, Decimal('65000000.00')),
 (16, 'Micky van de Ven', datetime.date(2001, 5, 19), 'Dutch', 10, 'Defender', 37, 3, 2023, 2020, Decimal('55000000.00')),
 (17, 'James Maddison', datetime.date(1996, 11, 23), 'English', 13, 'Forward', 10, 3, 2023, 2014, Decimal('70000000.00')),
 (18, 'Joshua Zirkzee', datetime.date(2001, 5, 22), 'Dutch', 10, 'Forward', 11, 4, 2024, 2019, Decimal('50000000.00')),
 (19, 'Matthijs de Ligt', datetime.date(1999, 8, 12), 'Dutch', 10, 'Defender', 4, 4, 2024, 2016, Decimal('65000000.00')),
 (20, 'Marcus Rashford', datetime.date(1997, 10, 31), 'English', 13, 'Forward', 10, 4, 2016, 2016, Decimal('60000000.00')),
 (21, 'Bruno Fernandes', datetime.date(1994, 9, 8), 'Portuguese', 24, 'Midfielder', 8, 4, 2020, 2012, Decimal('70000000.00')),
 (22, 'Erling Haaland\xa0', datetime.date(2000, 7, 21), 'Norwegian', 22, 'Forward', 9, 5, 2022, 2016, Decimal('180000000.00')),
 (23, 'Sávio Oliveira', datetime.date(2004, 4, 10), 'Brazilian', 4, 'Forward', 26, 5, 2024, 2022, Decimal('50000000.00')),
 (24, 'Kevin De Bruyne', datetime.date(1991, 6, 28), 'Belgian', 3, 'Midfielder', 17, 5, 2015, 2008, Decimal('50000000.00')),
 (25, 'Phil Foden', datetime.date(2000, 5, 28), 'English', 13, 'Midfielder', 47, 5, 2017, 2017, Decimal('150000000.00')),
 (26, 'Rodri Cascante', datetime.date(1996, 6, 22), 'Spanish', 29, 'Midfielder', 16, 5, 2019, 2015, Decimal('130000000.00')),
 (27, 'Luis Díaz', datetime.date(1997, 1, 13), 'Colombian', 7, 'Forward', 7, 6, 2022, 2016, Decimal('75000000.00')),
 (28, 'Virgil van Dijk', datetime.date(1991, 7, 8), 'Dutch', 10, 'Defender', 4, 6, 2018, 2011, Decimal('30000000.00')),
 (29, 'Mohamed Salah', datetime.date(1992, 6, 15), 'Egyptian', 12, 'Forward', 11, 6, 2017, 2010, Decimal('55000000.00')),
 (30, 'Dominik Szoboszlai', datetime.date(2000, 10, 25), 'Hungarian', 17, 'Midfielder', 8, 6, 2023, 2017, Decimal('75000000.00')),
 (31, 'Andrew Robertson ', datetime.date(1994, 3, 11), 'Scottish', 25, 'Defender', 26, 6, 2017, 2012, Decimal('30000000.00')),
 (32, 'Wataru Endo', datetime.date(1993, 2, 9), 'Japanese', 33, 'Midfielder', 3, 6, 2023, 2010, Decimal('13000000.00')),
 (33, 'Frenkie de Jong', datetime.date(1997, 5, 12), 'Dutch', 10, 'Midfielder', 21, 7, 2019, 2015, Decimal('70000000.00')),
 (34, 'Lamine Yamal ', datetime.date(2007, 7, 13), 'Spanish', 29, 'Forward', 19, 7, 2023, 2023, Decimal('120000000.00')),
 (35, 'Pau Cubarsí', datetime.date(2007, 1, 22), 'Spanish', 29, 'Defender', 2, 7, 2024, 2023, Decimal('30000000.00')),
 (36, 'Robert Lewandowski', datetime.date(1988, 8, 21), 'Polish', 23, 'Forward', 9, 7, 2022, 2006, Decimal('15000000.00')),
 (37, 'Pau Víctor', datetime.date(2001, 11, 26), 'Spanish', 29, 'Forward', 18, 7, 2024, 2022, Decimal('1500000.00')),
 (38, 'Pedri González', datetime.date(2002, 11, 25), 'Spanish', 29, 'Midfielder', 8, 7, 2019, 2019, Decimal('80000000.00')),
 (39, 'Kylian Mbappé', datetime.date(1998, 12, 20), 'French', 14, 'Forward', 9, 8, 2024, 2015, Decimal('180000000.00')),
 (40, 'Dani Carvajal ', datetime.date(1992, 1, 11), 'Spanish', 29, 'Defender', 2, 8, 2013, 2010, Decimal('12000000.00')),
 (41, 'Vinícius Júnior', datetime.date(2000, 7, 12), 'Brazilian', 4, 'Forward', 7, 8, 2018, 2017, Decimal('180000000.00')),
 (42, 'Jude Bellingham', datetime.date(2003, 6, 29), 'English', 13, 'Midfielder', 5, 8, 2023, 2019, Decimal('180000000.00')),
 (43, 'Antonio Rüdiger', datetime.date(1993, 3, 3), 'German', 16, 'Defender', 22, 8, 2022, 2012, Decimal('25000000.00')),
 (44, 'Conor Gallagher', datetime.date(2000, 2, 6), 'English', 13, 'Midfielder', 4, 9, 2024, 2021, Decimal('50000000.00')),
 (45, 'Julián Alvarez', datetime.date(2000, 1, 31), 'Argentine', 2, 'Forward', 19, 9, 2024, 2018, Decimal('90000000.00')),
 (46, 'Antoine Griezmann', datetime.date(1991, 3, 21), 'French', 14, 'Forward', 7, 9, 2023, 2009, Decimal('25000000.00')),
 (47, 'Axel Witsel', datetime.date(1989, 1, 12), 'Belgian', 3, 'Defender', 20, 10, 2022, 2006, Decimal('3500000.00')),
 (48, 'Jesús Navas', datetime.date(1985, 11, 21), 'Spanish', 29, 'Defender', 16, 10, 2017, 2003, Decimal('2500000.00')),
 (49, 'Dodi Lukebakio', datetime.date(1997, 9, 24), 'Spanish', 29, 'Forward', 11, 10, 2023, 2015, Decimal('12000000.00')),
 (50, 'Lucien Agoumé', datetime.date(2002, 2, 9), 'French', 14, 'Midfielder', 18, 10, 2024, 2019, Decimal('6000000.00')),
 (51, 'Dušan Vlahović', datetime.date(2000, 1, 28), 'Serbian', 27, 'Forward', 9, 11, 2022, 2016, Decimal('65000000.00')),
 (52, 'Weston McKennie', datetime.date(1998, 8, 28), 'American', 1, 'Midfielder', 16, 11, 2021, 2017, Decimal('28000000.00')),
 (53, 'Khéphren Thuram', datetime.date(2001, 3, 26), 'French', 14, 'Midfielder', 19, 11, 2024, 2019, Decimal('35000000.00')),
 (54, 'Federico Chiesa', datetime.date(1997, 10, 25), 'Italian', 18, 'Forward', 7, 11, 2022, 2016, Decimal('35000000.00')),
 (55, 'Pierre Kalulu', datetime.date(2000, 6, 5), 'French', 14, 'Defender', 15, 11, 2024, 2020, Decimal('20000000.00')),
 (56, 'Álvaro Morata', datetime.date(1992, 10, 23), 'Spanish', 29, 'Forward', 7, 12, 2024, 2010, Decimal('16000000.00')),
 (57, 'Christian Pulisic', datetime.date(1998, 9, 18), 'American', 1, 'Forward', 11, 12, 2023, 2016, Decimal('40000000.00')),
 (58, 'Rafael Leão', datetime.date(1999, 6, 10), 'Portuguese', 24, 'Forward', 10, 12, 2019, 2017, Decimal('90000000.00')),
 (59, 'Fikayo Tomori', datetime.date(1997, 12, 19), 'English', 13, 'Defender', 23, 12, 2021, 2016, Decimal('40000000.00')),
 (60, 'Samuel Chukwueze', datetime.date(1999, 5, 22), 'Nigerian', 21, 'Forward', 21, 12, 2023, 2017, Decimal('20000000.00')),
 (61, 'Victor Osimhen', datetime.date(1998, 12, 29), 'Nigerian', 21, 'Forward', 9, 13, 2020, 2017, Decimal('100000000.00')),
 (62, 'Michael Folorunsho', datetime.date(1998, 2, 7), 'Nigerian', 21, 'Midfielder', 90, 13, 2019, 2017, Decimal('8500000.00')),
 (63, 'Khvicha Kvaratskhelia', datetime.date(2001, 2, 12), 'Georgian', 15, 'Forward', 77, 13, 2022, 2017, Decimal('80000000.00')),
 (64, 'Giovanni Di Lorenzo', datetime.date(1993, 8, 4), 'Italian', 18, 'Defender', 22, 13, 2019, 2010, Decimal('15000000.00')),
 (65, 'Lautaro Martínez', datetime.date(1997, 8, 22), 'Argentine', 2, 'Forward', 10, 14, 2018, 2015, Decimal('110000000.00')),
 (66, 'Marcus Thuram', datetime.date(1997, 8, 6), 'French', 14, 'Forward', 9, 14, 2023, 2017, Decimal('65000000.00')),
 (67, 'Denzel Dumfries', datetime.date(1996, 4, 18), 'Dutch', 10, 'Midfielder', 2, 14, 2021, 2014, Decimal('24000000.00')),
 (68, 'Piotr Zieliński', datetime.date(1994, 5, 20), 'Polish', 23, 'Midfielder', 7, 14, 2024, 2012, Decimal('22000000.00')),
 (69, 'Xavi Simons', datetime.date(2003, 4, 21), 'Dutch', 10, 'Midfielder', 10, 15, 2023, 2021, Decimal('80000000.00')),
 (70, 'Mohamed Simakan', datetime.date(2000, 5, 3), 'French', 14, 'Defender', 2, 15, 2021, 2017, Decimal('35000000.00')),
 (71, 'André Silva', datetime.date(1995, 11, 6), 'Portuguese', 24, 'Forward', 19, 15, 2021, 2015, Decimal('6000000.00')),
 (72, 'Arthur Vermeeren', datetime.date(2005, 2, 7), 'Dutch', 10, 'Midfielder', 18, 15, 2024, 2022, Decimal('25000000.00')),
 (73, 'Michael Olise', datetime.date(2001, 12, 12), 'French', 14, 'Forward', 17, 16, 2024, 2019, Decimal('55000000.00')),
 (74, 'Harry Kane', datetime.date(1993, 7, 28), 'English', 13, 'Forward', 9, 16, 2023, 2011, Decimal('100000000.00')),
 (75, 'João Palhinha', datetime.date(1995, 7, 9), 'Portuguese', 24, 'Midfielder', 16, 16, 2024, 2013, Decimal('55000000.00')),
 (76, 'Alphonso Davies', datetime.date(2000, 11, 2), 'Canadian', 6, 'Defender', 19, 16, 2019, 2016, Decimal('50000000.00')),
 (77, 'Jamal Musiala', datetime.date(2003, 2, 26), 'German', 16, 'Forward', 42, 16, 2020, 2020, Decimal('130000000.00')),
 (78, 'Dayot Upamecano', datetime.date(1998, 10, 27), 'French', 14, 'Defender', 2, 16, 2021, 2015, Decimal('45000000.00')),
 (79, 'Min-jae-Kim', datetime.date(1996, 11, 15), 'South Korean', 28, 'Defender', 3, 16, 2023, 2016, Decimal('45000000.00')),
 (80, 'Kingsley  Coman', datetime.date(1996, 6, 13), 'French', 14, 'Forward', 11, 16, 2017, 2013, Decimal('50000000.00')),
 (81, 'Jeremie Frimpong', datetime.date(2000, 12, 10), 'Dutch', 10, 'Defender', 30, 17, 2021, 2019, Decimal('50000000.00')),
 (82, 'Victor Boniface', datetime.date(2000, 12, 23), 'Nigerian', 21, 'Forward', 22, 17, 2023, 2019, Decimal('40000000.00')),
 (83, 'Granit Xhaka', datetime.date(1992, 9, 27), 'Swiss', 30, 'Midfielder', 34, 17, 2023, 2010, Decimal('20000000.00')),
 (84, 'Florian Wirtz', datetime.date(2003, 5, 3), 'German', 16, 'Midfielder', 10, 17, 2020, 2020, Decimal('130000000.00')),
 (85, 'Karim Adeyemi', datetime.date(2002, 1, 18), 'German', 16, 'Forward', 27, 18, 2022, 2018, Decimal('28000000.00')),
 (86, 'Youssoufa Moukoko', datetime.date(2004, 11, 20), 'German', 16, 'Forward', 18, 18, 2020, 2020, Decimal('22000000.00')),
 (87, 'Sébastien Haller', datetime.date(1994, 6, 22), 'Ivorian', 19, 'Forward', 9, 18, 2022, 2012, Decimal('10000000.00')),
 (88, 'Niklas Süle', datetime.date(1995, 9, 3), 'German', 16, 'Defender', 25, 18, 2022, 2013, Decimal('15000000.00')),
 (89, 'Bradley Barcola', datetime.date(2002, 9, 2), 'French', 14, 'Forward', 29, 19, 2023, 2022, Decimal('50000000.00')),
 (90, 'Ousmane Dembélé', datetime.date(1997, 5, 15), 'French', 14, 'Forward', 10, 19, 2023, 2015, Decimal('60000000.00')),
 (91, 'Achraf Hakimi', datetime.date(1998, 11, 4), 'Moroccan', 20, 'Defender', 2, 19, 2021, 2016, Decimal('60000000.00')),
 (92, 'Kang-in Lee', datetime.date(2001, 2, 19), 'South Korean', 28, 'Midfielder', 19, 19, 2023, 2018, Decimal('25000000.00')),
 (93, 'Marco Asensio', datetime.date(1996, 1, 21), 'Spanish', 29, 'Midfielder', 11, 19, 2023, 2013, Decimal('20000000.00')),
 (94, 'Fabián Ruiz', datetime.date(1996, 4, 3), 'Spanish', 29, 'Midfielder', 8, 19, 2022, 2014, Decimal('35000000.00')),
 (95, 'Warren Zaïre-Emery', datetime.date(2006, 3, 8), 'French', 14, 'Midfielder', 33, 19, 2022, 2022, Decimal('60000000.00')),
 (96, 'Nuno Mendes', datetime.date(2002, 6, 19), 'Portuguese', 24, 'Defender', 25, 19, 2022, 2020, Decimal('55000000.00')),
 (97, 'Chancel Mbemba', datetime.date(1994, 8, 8), 'Congolese', 8, 'Defender', 99, 20, 2022, 2013, Decimal('15000000.00')),
 (98, 'Pierre-Emile Højbjerg', datetime.date(1995, 8, 5), 'Danish', 9, 'Midfielder', 23, 20, 2024, 2013, Decimal('18000000.00')),
 (99, 'Azzedine Ounahi', datetime.date(2000, 4, 19), 'Moroccan', 20, 'Midfielder', 8, 20, 2023, 2018, Decimal('12000000.00')),
 (100, 'Faris Moumbagna', datetime.date(2000, 7, 1), 'Cameroonian', 5, 'Forward', 14, 20, 2024, 2021, Decimal('10000000.00')),
 (101, 'Alexandre Lacazette', datetime.date(1991, 5, 28), 'French', 14, 'Forward', 10, 21, 2022, 2010, Decimal('9000000.00')),
 (102, 'Georges Mikautadze', datetime.date(2000, 10, 31), 'Georgian', 15, 'Forward', 69, 21, 2024, 2019, Decimal('20000000.00')),
 (103, 'Moussa Niakhaté', datetime.date(1996, 3, 8), 'French', 14, 'Defender', 19, 21, 2024, 2014, Decimal('16000000.00')),
 (104, 'Nemanja Matić', datetime.date(1988, 8, 1), 'Serbian', 27, 'Midfielder', 31, 21, 2024, 2007, Decimal('3000000.00')),
 (105, 'Corentin Tolisso', datetime.date(1994, 8, 3), 'French', 14, 'Midfielder', 8, 21, 2022, 2013, Decimal('5000000.00')),
 (106, 'Amin Sarr', datetime.date(2001, 3, 11), 'Swedish', 31, 'Midfielder', 27, 21, 2023, 2020, Decimal('4000000.00')),
 (107, 'Vanderson Campos', datetime.date(2001, 6, 21), 'Brazilian', 4, 'Defender', 2, 22, 2022, 2020, Decimal('20000000.00')),
 (108, 'Krépin Diatta', datetime.date(1999, 2, 25), 'Senegalese', 26, 'Forward', 27, 22, 2021, 2017, Decimal('12000000.00')),
 (109, 'Mohammed Salisu', datetime.date(1999, 4, 17), 'Ghanian', 32, 'Defender', 22, 22, 2023, 2018, Decimal('15000000.00')),
 (110, 'Takumi Minamino', datetime.date(1995, 1, 16), 'Japanese', 33, 'Forward', 18, 22, 2022, 2012, Decimal('20000000.00')),
 (8, 'Cole Palmer', datetime.date(2002, 5, 6), 'English', 13, 'Midfielder', 20, 1, 2023, 2020, Decimal('80000000.00'))]

In [141]:

%%sql ALTER TABLE Player
        RENAME COLUMN Full_Name TO Name;

        ALTER TABLE Player
        RENAME COLUMN Jersey_Number TO Jersey;

        ALTER TABLE Player
        RENAME COLUMN Debut_Career TO Career_Debut;

        ALTER TABLE PLAYER
        RENAME COLUMN Market_Value_In_Millions TO Market_Value;

 * postgresql://postgres:***@localhost:5432/soccer_analysis
Done.
Done.
Done.
Done.

[]

# Results After Updating the Player Table Columns name

In [4]:
%sql SELECT * FROM Player

UsageError: Line magic function `%sql` not found.

# UPDATE Cole Palmers Birthdate information

In [196]:
## Initial C.P's Birthdate
%sql SELECT Name, Birthdate FROM Player WHERE Name = 'Cole Palmer'

 * postgresql://postgres:***@localhost:5432/soccer_analysis
1 rows affected.

[('Cole Palmer', datetime.date(2022, 5, 6))]

In [215]:

%%sql  UPDATE Player  
SET Birthdate = '2002-05-06'
WHERE Name = 'Cole Palmer'

 * postgresql://postgres:***@localhost:5432/soccer_analysis
1 rows affected.

[]

# Result After Updating Cole Palmer's Birthdate

In [217]:
%%sql SELECT Name, Birthdate
    FROM Player
    WHERE Name = 'Cole Palmer'

 * postgresql://postgres:***@localhost:5432/soccer_analysis
1 rows affected.

[('Cole Palmer', datetime.date(2002, 5, 6))]

# UPDATE Country "Ghanian" To 'Ghana'

In [226]:
%%sql select country
    FROM Geography
    WHERE Country = 'Ghanian'

 * postgresql://postgres:***@localhost:5432/soccer_analysis
1 rows affected.

[('Ghanian',)]

In [228]:
%%sql UPDATE Geography
        SET Country = 'Ghana'
        WHERE Country = 'Ghanian'

 * postgresql://postgres:***@localhost:5432/soccer_analysis
1 rows affected.

[]

# RESULT after updating country name

In [237]:
%%sql SELECT Country
        FROM Geography
        WHERE Country = 'Ghana'

 * postgresql://postgres:***@localhost:5432/soccer_analysis
1 rows affected.

[('Ghana',)]

# UPDATE Player_ID 32 Career stats where value is Null

In [257]:
%%sql
   SELECT * FROM Career_stats
	WHERE PLAYER_ID = 32

 * postgresql://postgres:***@localhost:5432/soccer_analysis
1 rows affected.

[(32, 32, None, None, None, None, None)]

In [277]:
%%sql
UPDATE Career_Stats
	SET Games = 483,
		Goals = 49,
		Assists = 29,
		Yellow_Cards =45,
		Red_Cards = 2
	WHERE Player_ID = 32

 * postgresql://postgres:***@localhost:5432/soccer_analysis
1 rows affected.

[]

# Result after Updating Null Stats

In [265]:
%%sql
   SELECT * FROM Career_stats
	WHERE PLAYER_ID = 32

 * postgresql://postgres:***@localhost:5432/soccer_analysis
1 rows affected.

[(32, 32, 483, 49, 29, 45, 2)]

# Analysis Questions Explored
 1. What is the distribution of players across the 5 leagues?
 2. How does player distribution differ by continent?
 3. Which country has the highest representation of players in this dataset?
 4. How does the market value of players vary among the leagues?
 5. How are teams ranked based on their players' average and total market values?
 6. How does the average market value of players differ across various age groups?
 7. What are the player rankings based on the number of years they've played professionally?
 8. What is the average length of a professional playing career by position?
 9. Among forwards with over 200 career games, who has scored the most goals?
 10. Which midfielder with over 200 career appearances has the highest number of assists?
 11. Among defenders with more than 200 career games, who has accumulated the most disciplinary cards?
 12. How many players with over 150 games have never received a red card in their careers?
 13. Which players have been with their current club for at least 5 years?

# 1. What is the distribution of players across the 5 leagues?

In [310]:
 
 %%sql
    WITH League_Distribution AS (
	Select league_name, Count(Player_ID) AS Player_Count  
	FROM League L
	INNER JOIN Team T ON T.League_ID = L.League_ID
	INNER JOIN Player P ON P.Team_ID = T.Team_ID
	GROUP BY League_Name
	)
	SELECT League_name,
	Player_Count,
	Round(Player_Count / 110.0 * 100,2) AS Percentage
	FROM League_Distribution
	ORDER BY Player_Count DESC;

 * postgresql://postgres:***@localhost:5432/soccer_analysis
5 rows affected.

[('Premier League', 32, Decimal('29.09')),
 ('Ligue 1', 22, Decimal('20.00')),
 ('Bundesliga', 20, Decimal('18.18')),
 ('Serie A', 18, Decimal('16.36')),
 ('La Liga', 18, Decimal('16.36'))]

# 2. How does player distribution differ by continent?

In [11]:
%%sql

WITH Continent_Player_Distribution AS (
		Select  	
			CASE WHEN Continent_id = 1 THEN 'Africa'
			WHEN Continent_ID = 2 THEN 'Asia'
			WHEN Continent_ID = 3 THEN 'Europe'
			WHEN Continent_ID = 4 THEN 'North America'
			ELSE 'South America'
			END AS Continent_Name,
			Count(Player_ID) Player_Count
		FROM Geography G
		INNER JOIN Player P ON P.Nation_ID = G.Nation_ID
		GROUP BY Continent_Name
			)
		SELECT Continent_Name, 
				Player_Count,
				ROUND(Player_Count /110.0 * 100,2) AS Percentage
		FROM Continent_Player_Distribution
		ORDER BY Player_Count DESC;

 * postgresql://postgres:***@localhost:5432/soccer_analysis
5 rows affected.

[('Europe', 80, Decimal('72.73')),
 ('Africa', 13, Decimal('11.82')),
 ('South America', 9, Decimal('8.18')),
 ('Asia', 5, Decimal('4.55')),
 ('North America', 3, Decimal('2.73'))]

# 3. Which country has the highest representation of players in this dataset?

In [10]:
%%sql
            SELECT Country, Count(G.Nation_ID) Total_Players
		FROM Geography G
		INNER JOIN PLAYER P ON P.Nation_ID = G.Nation_ID
		GROUP BY Country
		ORDER BY Total_Players DESC LIMIT 1;

 * postgresql://postgres:***@localhost:5432/soccer_analysis
1 rows affected.

[('France', 17)]

# 4. How does the market value of players vary among the leagues?

In [41]:
%%sql
        WITH Leage_Market_Value AS (
		SELECT Name, League_Name, Market_Value
		FROM league L
		INNER JOIN Team T ON T.League_ID = L.League_ID
		INNER JOIN Player P ON P.Team_ID = T.Team_ID
			)

        ---Side Note: '€' || To_CHAR('FM99,999,999,990.00'):  Formats the value with a Euro symbol and two decimal places

		SELECT 
		League_Name,
		'€' || To_CHAR(MIN(Market_Value), 'FM99,999,999,990.00') AS "Lowest Market Value", 
		'€' || To_CHAR(Max(Market_Value), 'FM99,999,999,990.00') AS "Highest Market Value", 	
		'€' || To_CHAR(SUM(Market_Value), 'FM99,999,999,990.00') AS "Sum Market Value", 	
		'€' || To_CHAR(ROUND(AVG(Market_Value),2),'FM999,999,999,990.00')  AS "Average Market Value" 
		FROM Leage_Market_Value 
		GROUP BY League_Name;

 * postgresql://postgres:***@localhost:5432/soccer_analysis
5 rows affected.

[('Premier League', '€13,000,000.00', '€180,000,000.00', '€2,273,000,000.00', '€71,031,250.00'),
 ('Serie A', '€8,500,000.00', '€110,000,000.00', '€813,500,000.00', '€45,194,444.44'),
 ('Ligue 1', '€3,000,000.00', '€60,000,000.00', '€544,000,000.00', '€24,727,272.73'),
 ('La Liga', '€1,500,000.00', '€180,000,000.00', '€1,082,500,000.00', '€60,138,888.89'),
 ('Bundesliga', '€6,000,000.00', '€130,000,000.00', '€991,000,000.00', '€49,550,000.00')]

# 5.  How are teams ranked based on their players' average and total market values?

In [331]:
%%sql
        WITH Team_Market_Value AS (
		SELECT Name, Team_Name, Market_Value
		FROM Team T
		INNER JOIN Player P ON P.Team_ID = T.Team_ID
		ORDER BY T.Team_ID
				)
		SELECT 
			Team_Name,
			'€' || To_CHAR(ROUND(AVG(Market_Value),2),'FM999,999,999,990.00')  AS "Average Market Value" ,
			RANK () OVER(ORDER BY AVG(Market_Value)DESC) AS Average_Market_Value_Rank,
			'€' || To_CHAR(SUM(Market_Value), 'FM99,999,999,990.00') AS "Sum Market Value"	,
			RANK () OVER(ORDER BY SUM(Market_Value)DESC) AS Sum_Of_Market_Value_Rank
		FROM  Team_Market_Value
		GROUP BY Team_Name;

 * postgresql://postgres:***@localhost:5432/soccer_analysis
22 rows affected.

[('Real Madrid ', '€115,400,000.00', 1, '€577,000,000.00', 1),
 ('Manchester City  ', '€112,000,000.00', 2, '€560,000,000.00', 2),
 ('Arsenal', '€110,000,000.00', 3, '€440,000,000.00', 5),
 ('Bayern Munich', '€66,250,000.00', 4, '€530,000,000.00', 3),
 ('Manchester United ', '€61,250,000.00', 5, '€245,000,000.00', 10),
 ('Bayer 04 Leverkusen', '€60,000,000.00', 6, '€240,000,000.00', 11),
 ('Chelsea', '€59,375,000.00', 7, '€475,000,000.00', 4),
 ('Inter Milan', '€55,250,000.00', 8, '€221,000,000.00', 12),
 ('Tottenham Hotspur', '€55,000,000.00', 9, '€275,000,000.00', 9),
 ('Atlético Madrid', '€55,000,000.00', 9, '€165,000,000.00', 16),
 ('Barcelona', '€52,750,000.00', 11, '€316,500,000.00', 7),
 ('S.S.C. Napoli', '€50,875,000.00', 12, '€203,500,000.00', 14),
 ('Liverpool', '€46,333,333.33', 13, '€278,000,000.00', 8),
 ('Paris Saint-Germain', '€45,625,000.00', 14, '€365,000,000.00', 6),
 (' AC Milan  ', '€41,200,000.00', 15, '€206,000,000.00', 13),
 ('Juventus', '€36,600,000.00', 16, '€183,000,000.00', 15),
 ('RB Leipzig', '€36,500,000.00', 17, '€146,000,000.00', 17),
 ('Borussia Dortmund', '€18,750,000.00', 18, '€75,000,000.00', 18),
 ('AS Monaco', '€16,750,000.00', 19, '€67,000,000.00', 19),
 ('Olympique de Marseille', '€13,750,000.00', 20, '€55,000,000.00', 21),
 ('Olympique Lyonnais', '€9,500,000.00', 21, '€57,000,000.00', 20),
 ('Sevilla', '€6,000,000.00', 22, '€24,000,000.00', 22)]

# 6. How does the average market value of players differ across various age groups?

In [337]:
%%sql
        WITH Market_Value_Via_Age_Group AS (
		SELECT 
			EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT (YEAR FROM Birthdate) AS AGE, Market_Value,
			CASE
			WHEN EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT (YEAR FROM Birthdate)  BETWEEN 17 AND 24 THEN '17-24'
			WHEN EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT (YEAR FROM Birthdate)  BETWEEN 25 AND 29 THEN '25-29'
			ELSE '30+'
			END AS AGE_GROUP
		FROM PLAYER
			)
		SELECT
			'€' || TO_CHAR(ROUND(AVG(Market_Value),2),'FM9,999,999,999.00') Average_Value,
			AGE_GROUP
		FROM Market_Value_Via_Age_Group
		GROUP BY AGE_GROUP
		ORDER BY Average_Value DESC;

 * postgresql://postgres:***@localhost:5432/soccer_analysis
3 rows affected.

[('€63,228,260.87', '17-24'),
 ('€53,768,292.68', '25-29'),
 ('€25,695,652.17', '30+')]

# 7. What are the player rankings based on the number of years they've played professionally?

In [344]:
%%sql
    	Select Name,
				Team_Name, 
				Extract(YEAR FROM CURRENT_DATE) - Career_Debut AS Years_Playing_Professional,
				RANK () OVER (PARTITION BY t.Team_ID ORDER BY Extract(YEAR FROM CURRENT_DATE) - Career_Debut DESC) AS Career_Length_Rank_Within_Team,
				RANK () OVER (ORDER BY Extract(YEAR FROM CURRENT_DATE) - Career_Debut DESC) AS Overall_Ranking
		FROM player P
		INNER JOIN Team T ON T.Team_ID = P.Team_ID
		ORDER BY Team_Name, Career_Length_Rank_Within_Team;

 * postgresql://postgres:***@localhost:5432/soccer_analysis
110 rows affected.

[('Álvaro Morata', ' AC Milan  ', Decimal('14'), 1, 7),
 ('Fikayo Tomori', ' AC Milan  ', Decimal('8'), 2, 45),
 ('Christian Pulisic', ' AC Milan  ', Decimal('8'), 2, 45),
 ('Samuel Chukwueze', ' AC Milan  ', Decimal('7'), 4, 58),
 ('Rafael Leão', ' AC Milan  ', Decimal('7'), 4, 58),
 ('Martin Ødegaard', 'Arsenal', Decimal('10'), 1, 30),
 ('Kai Havertz', 'Arsenal', Decimal('8'), 2, 45),
 ('Declan Rice', 'Arsenal', Decimal('7'), 3, 58),
 ('Bukayo Saka', 'Arsenal', Decimal('6'), 4, 72),
 ('Takumi Minamino', 'AS Monaco', Decimal('12'), 1, 17),
 ('Krépin Diatta', 'AS Monaco', Decimal('7'), 2, 58),
 ('Mohammed Salisu', 'AS Monaco', Decimal('6'), 3, 72),
 ('Vanderson Campos', 'AS Monaco', Decimal('4'), 4, 89),
 ('Antoine Griezmann', 'Atlético Madrid', Decimal('15'), 1, 6),
 ('Julián Alvarez', 'Atlético Madrid', Decimal('6'), 2, 72),
 ('Conor Gallagher', 'Atlético Madrid', Decimal('3'), 3, 99),
 ('Robert Lewandowski', 'Barcelona', Decimal('18'), 1, 2),
 ('Frenkie de Jong', 'Barcelona', Decimal('9'), 2, 36),
 ('Pedri González', 'Barcelona', Decimal('5'), 3, 79),
 ('Pau Víctor', 'Barcelona', Decimal('2'), 4, 102),
 ('Lamine Yamal ', 'Barcelona', Decimal('1'), 5, 109),
 ('Pau Cubarsí', 'Barcelona', Decimal('1'), 5, 109),
 ('Granit Xhaka', 'Bayer 04 Leverkusen', Decimal('14'), 1, 7),
 ('Jeremie Frimpong', 'Bayer 04 Leverkusen', Decimal('5'), 2, 79),
 ('Victor Boniface', 'Bayer 04 Leverkusen', Decimal('5'), 2, 79),
 ('Florian Wirtz', 'Bayer 04 Leverkusen', Decimal('4'), 4, 89),
 ('Harry Kane', 'Bayern Munich', Decimal('13'), 1, 15),
 ('João Palhinha', 'Bayern Munich', Decimal('11'), 2, 23),
 ('Kingsley  Coman', 'Bayern Munich', Decimal('11'), 2, 23),
 ('Dayot Upamecano', 'Bayern Munich', Decimal('9'), 4, 36),
 ('Min-jae-Kim', 'Bayern Munich', Decimal('8'), 5, 45),
 ('Alphonso Davies', 'Bayern Munich', Decimal('8'), 5, 45),
 ('Michael Olise', 'Bayern Munich', Decimal('5'), 7, 79),
 ('Jamal Musiala', 'Bayern Munich', Decimal('4'), 8, 89),
 ('Sébastien Haller', 'Borussia Dortmund', Decimal('12'), 1, 17),
 ('Niklas Süle', 'Borussia Dortmund', Decimal('11'), 2, 23),
 ('Karim Adeyemi', 'Borussia Dortmund', Decimal('6'), 3, 72),
 ('Youssoufa Moukoko', 'Borussia Dortmund', Decimal('4'), 4, 89),
 ('Christopher Nkunku', 'Chelsea', Decimal('9'), 1, 36),
 ('Pedro Neto', 'Chelsea', Decimal('7'), 2, 58),
 ('Reece James ', 'Chelsea', Decimal('6'), 3, 72),
 ('Moisés Caicedo', 'Chelsea', Decimal('5'), 4, 79),
 ('Enzo Fernández', 'Chelsea', Decimal('4'), 5, 89),
 ('Cole Palmer', 'Chelsea', Decimal('4'), 5, 89),
 ('Levi Colwill', 'Chelsea', Decimal('2'), 7, 102),
 ('Nicolas Jackson ', 'Chelsea', Decimal('2'), 7, 102),
 ('Piotr Zieliński', 'Inter Milan', Decimal('12'), 1, 17),
 ('Denzel Dumfries', 'Inter Milan', Decimal('10'), 2, 30),
 ('Lautaro Martínez', 'Inter Milan', Decimal('9'), 3, 36),
 ('Marcus Thuram', 'Inter Milan', Decimal('7'), 4, 58),
 ('Dušan Vlahović', 'Juventus', Decimal('8'), 1, 45),
 ('Federico Chiesa', 'Juventus', Decimal('8'), 1, 45),
 ('Weston McKennie', 'Juventus', Decimal('7'), 3, 58),
 ('Khéphren Thuram', 'Juventus', Decimal('5'), 4, 79),
 ('Pierre Kalulu', 'Juventus', Decimal('4'), 5, 89),
 ('Wataru Endo', 'Liverpool', Decimal('14'), 1, 7),
 ('Mohamed Salah', 'Liverpool', Decimal('14'), 1, 7),
 ('Virgil van Dijk', 'Liverpool', Decimal('13'), 3, 15),
 ('Andrew Robertson ', 'Liverpool', Decimal('12'), 4, 17),
 ('Luis Díaz', 'Liverpool', Decimal('8'), 5, 45),
 ('Dominik Szoboszlai', 'Liverpool', Decimal('7'), 6, 58),
 ('Kevin De Bruyne', 'Manchester City  ', Decimal('16'), 1, 5),
 ('Rodri Cascante', 'Manchester City  ', Decimal('9'), 2, 36),
 ('Erling Haaland\xa0', 'Manchester City  ', Decimal('8'), 3, 45),
 ('Phil Foden', 'Manchester City  ', Decimal('7'), 4, 58),
 ('Sávio Oliveira', 'Manchester City  ', Decimal('2'), 5, 102),
 ('Bruno Fernandes', 'Manchester United ', Decimal('12'), 1, 17),
 ('Marcus Rashford', 'Manchester United ', Decimal('8'), 2, 45),
 ('Matthijs de Ligt', 'Manchester United ', Decimal('8'), 2, 45),
 ('Joshua Zirkzee', 'Manchester United ', Decimal('5'), 4, 79),
 ('Pierre-Emile Højbjerg', 'Olympique de Marseille', Decimal('11'), 1, 23),
 ('Chancel Mbemba', 'Olympique de Marseille', Decimal('11'), 1, 23),
 ('Azzedine Ounahi', 'Olympique de Marseille', Decimal('6'), 3, 72),
 ('Faris Moumbagna', 'Olympique de Marseille', Decimal('3'), 4, 99),
 ('Nemanja Matić', 'Olympique Lyonnais', Decimal('17'), 1, 4),
 ('Alexandre Lacazette', 'Olympique Lyonnais', Decimal('14'), 2, 7),
 ('Corentin Tolisso', 'Olympique Lyonnais', Decimal('11'), 3, 23),
 ('Moussa Niakhaté', 'Olympique Lyonnais', Decimal('10'), 4, 30),
 ('Georges Mikautadze', 'Olympique Lyonnais', Decimal('5'), 5, 79),
 ('Amin Sarr', 'Olympique Lyonnais', Decimal('4'), 6, 89),
 ('Marco Asensio', 'Paris Saint-Germain', Decimal('11'), 1, 23),
 ('Fabián Ruiz', 'Paris Saint-Germain', Decimal('10'), 2, 30),
 ('Ousmane Dembélé', 'Paris Saint-Germain', Decimal('9'), 3, 36),
 ('Achraf Hakimi', 'Paris Saint-Germain', Decimal('8'), 4, 45),
 ('Kang-in Lee', 'Paris Saint-Germain', Decimal('6'), 5, 72),
 ('Nuno Mendes', 'Paris Saint-Germain', Decimal('4'), 6, 89),
 ('Warren Zaïre-Emery', 'Paris Saint-Germain', Decimal('2'), 7, 102),
 ('Bradley Barcola', 'Paris Saint-Germain', Decimal('2'), 7, 102),
 ('André Silva', 'RB Leipzig', Decimal('9'), 1, 36),
 ('Mohamed Simakan', 'RB Leipzig', Decimal('7'), 2, 58),
 ('Xavi Simons', 'RB Leipzig', Decimal('3'), 3, 99),
 ('Arthur Vermeeren', 'RB Leipzig', Decimal('2'), 4, 102),
 ('Dani Carvajal ', 'Real Madrid ', Decimal('14'), 1, 7),
 ('Antonio Rüdiger', 'Real Madrid ', Decimal('12'), 2, 17),
 ('Kylian Mbappé', 'Real Madrid ', Decimal('9'), 3, 36),
 ('Vinícius Júnior', 'Real Madrid ', Decimal('7'), 4, 58),
 ('Jude Bellingham', 'Real Madrid ', Decimal('5'), 5, 79),
 ('Giovanni Di Lorenzo', 'S.S.C. Napoli', Decimal('14'), 1, 7),
 ('Khvicha Kvaratskhelia', 'S.S.C. Napoli', Decimal('7'), 2, 58),
 ('Michael Folorunsho', 'S.S.C. Napoli', Decimal('7'), 2, 58),
 ('Victor Osimhen', 'S.S.C. Napoli', Decimal('7'), 2, 58),
 ('Jesús Navas', 'Sevilla', Decimal('21'), 1, 1),
 ('Axel Witsel', 'Sevilla', Decimal('18'), 2, 2),
 ('Dodi Lukebakio', 'Sevilla', Decimal('9'), 3, 36),
 ('Lucien Agoumé', 'Sevilla', Decimal('5'), 4, 79),
 ('Heung-min Son', 'Tottenham Hotspur', Decimal('14'), 1, 7),
 ('James Maddison', 'Tottenham Hotspur', Decimal('10'), 2, 30),
 ('Dominic Solanke', 'Tottenham Hotspur', Decimal('10'), 2, 30),
 ('Cristian Romero', 'Tottenham Hotspur', Decimal('8'), 4, 45),
 ('Micky van de Ven', 'Tottenham Hotspur', Decimal('4'), 5, 89)]

# 8. What is the average length of a professional playing career by position?

In [24]:
%%sql
    WITH Career_Length AS (
	Select Position, Name,
	Extract (YEAR FROM CURRENT_DATE) - Career_Debut AS Career_Length
	FROM PLAYER
		)
	SELECT Position,
			ROUND(AVG(Career_Length),2) AS Average_Career_Length_in_Years
	FROM Career_Length
	GROUP BY Position
	ORDER BY Average_Career_Length_In_Years DESC ;

 * postgresql://postgres:***@localhost:5432/soccer_analysis
3 rows affected.

[('Defender', Decimal('8.74')),
 ('Forward', Decimal('7.94')),
 ('Midfielder', Decimal('7.86'))]

# 9. Who are the top 5 forwards with over 200 career games that have scored the most goals?

In [12]:
%%sql
    SELECT 
			Name,
			SUM(Goals) Career_Goals, 
			RANK () OVER( ORDER BY SUM(Goals) DESC) AS Career_Goals_Rank
		FROM 
			Player P
		INNER JOIN 
			Career_Stats CS ON CS.Player_ID = P.Player_ID
		WHERE Position = 'Forward' AND Games >= 200
		GROUP BY Name
        LIMIT 5;

 * postgresql://postgres:***@localhost:5432/soccer_analysis
5 rows affected.

[('Robert Lewandowski', 571, 1),
 ('Harry Kane', 352, 2),
 ('Mohamed Salah', 290, 3),
 ('Kylian Mbappé', 289, 4),
 ('Antoine Griezmann', 269, 5)]

# 10. Who are the top 10 midfielders with the most career assists, having played 200 or more career games?

In [20]:
%%sql
    SELECT 
			Name,
			SUM(Assists) Career_Assists,
			RANK () OVER( ORDER BY SUM(Assists) DESC) AS Career_Assists_Rank
		FROM 
			Player P
		INNER JOIN 
			Career_Stats CS ON CS.Player_ID = P.Player_ID
		WHERE Position = 'Midfielder' AND Games >= 200
		GROUP BY Name
        LIMIT 10;

 * postgresql://postgres:***@localhost:5432/soccer_analysis
10 rows affected.

[('Kevin De Bruyne', 255, 1),
 ('Bruno Fernandes', 135, 2),
 ('Dominik Szoboszlai', 78, 3),
 ('Martin Ødegaard', 67, 4),
 ('Phil Foden', 66, 5),
 ('Marco Asensio', 63, 6),
 ('Piotr Zieliński', 55, 7),
 ('Denzel Dumfries', 53, 8),
 ('Frenkie de Jong', 47, 9),
 ('Granit Xhaka', 46, 10)]

# 11. Among defenders with more than 200 career games, which player has accumulated the most disciplinary cards?

In [14]:
%%sql
    SELECT
		Name,
		SUM(Yellow_Cards + Red_Cards) AS Disciplinary_Cards,
		RANK () OVER (ORDER BY SUM(Yellow_Cards + Red_Cards) DESC) As Disciplinary_Cards_Rank
		FROM 
			Player P
		INNER JOIN 
			Career_Stats CS ON CS.Player_ID = P.Player_ID
		WHERE Position = 'Defender' AND Games >= 200
		GROUP BY Name
        Limit 1;

 * postgresql://postgres:***@localhost:5432/soccer_analysis
1 rows affected.

[('Dani Carvajal ', 152, 1)]

# 12. How many players with over 150 games have never received a red card in their careers?

In [17]:
%%sql
    Select Count(name) As Total_Players
		FROM Player P
		Inner Join Career_Stats CS ON CS.Player_ID = P.Player_ID
		WHERE Red_Cards = 0 AND Games >= 150;

 * postgresql://postgres:***@localhost:5432/soccer_analysis
1 rows affected.

[(25,)]

# 13.  Which players have been with their current club for at least 5 years?

In [44]:
%%sql
    Select Name,
				Extract(Year From Current_Date) - Year_Joined_Club AS Current_Club_Duration
		FROM Player
		Where Extract(Year From Current_Date) - Year_Joined_Club >= 5
		ORDER BY Current_Club_Duration DESC;

 * postgresql://postgres:***@localhost:5432/soccer_analysis
21 rows affected.

[('Dani Carvajal ', Decimal('11')),
 ('Kevin De Bruyne', Decimal('9')),
 ('Heung-min Son', Decimal('9')),
 ('Marcus Rashford', Decimal('8')),
 ('Jesús Navas', Decimal('7')),
 ('Kingsley  Coman', Decimal('7')),
 ('Andrew Robertson ', Decimal('7')),
 ('Phil Foden', Decimal('7')),
 ('Mohamed Salah', Decimal('7')),
 ('Virgil van Dijk', Decimal('6')),
 ('Lautaro Martínez', Decimal('6')),
 ('Vinícius Júnior', Decimal('6')),
 ('Frenkie de Jong', Decimal('5')),
 ('Bukayo Saka', Decimal('5')),
 ('Rodri Cascante', Decimal('5')),
 ('Reece James ', Decimal('5')),
 ('Pedri González', Decimal('5')),
 ('Rafael Leão', Decimal('5')),
 ('Michael Folorunsho', Decimal('5')),
 ('Giovanni Di Lorenzo', Decimal('5')),
 ('Alphonso Davies', Decimal('5'))]

# Summary of Findings

- The dataset shows that the majority of players are from the Premier League, followed by Ligue 1 and Bundesliga. Serie A and La Liga have the fewest players represented.
- Over 70% of the players are from Europe, with France leading in representation. North America has the fewest players featured in the dataset.
- The Premier League leads in both total and average market value of players, while Ligue 1 ranks the lowest. Four of the highest-valued players are from the Premier League or La Liga.
- Real Madrid has the highest average and total market value among clubs, followed by Manchester City; Sevilla ranks lowest in both metrics.
- Younger players (17-24) have the highest average market value, followed by mid-age players (25-29), with seniors (30+) at the bottom.
- Defenders have the longest average career duration.
- Jesús Navas of Sevilla holds the longest playing career at 21 years, while Lamine Yamal and Pau Cubarsi of Barcelona have the shortest careers, thus far, at just 1 year each.
- Among players with over 200 career games, Kevin De Bruyne of Manchester City has the most assists among midfielders, Robert Lewandowski of Barcelona has the most goals among forwards, and Dani Carvajal of Real Madrid has the most disciplinary cautions among defenders.
- 25 players have played over 150 games without receiving a red card.
- 21 players have been with their current club for at least 5 years, with Dani Carvajal having the longest tenure at 11 years with Real Madrid.